.navbar{
    height: 90px;
}
.navbar-brand{
    font-size: x-large;
}

.nav-item{
    margin-left: 40px;
}

.vcontainer{
    margin: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.container{
    margin: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    width: 90%
}